Repository inggritenovaleta/hackyourfuture-g4, pull requests merged in 2021-02, with the labels that each got.

#1 add should and could have to backlog
  planning/backlog.md
Labels: documentation

#3 Add Development Strategy
  planning/development-strategy.md
  public/img/HYFB.png
Labels: documentation

#6 Add initial header with menu
  index.html
  public/css/style.css
Labels: HTML

#26 Add showcase section
  index.html
  public/css/style.css
Labels: CSS, HTML

#27 Update constraints
  planning/constraint.md
Labels: documentation

#28 Add html and css for our program issues
  index.html
  public/css/style.css
Labels: css, html

#32 Added header css including the navbar style and .btn style
  public/css/style.css
Labels: css, help wanted

#36 Add initial HTML for Support section (donation form)
  index.html
Labels: html

#33 Add contact section
  index.html
  public/css/style.css
Labels: css, html

#34 Add our-impact section
  index.html
  public/css/style.css
Labels: css, html

#39 Modified mainpage
  index.html
  public/css/style.css
Labels: css, html

#40 added initial style for 'support-section'
  public/css/style.css
Labels: css

#38 Footer
  index.html
  public/css/style.css
Labels: css, enhancement, html

#41 Our partners section-initial HTML & CSS
  index.html
  public/css/style.css
  public/img/Bruxelles-Formation_logo.png
  public/img/DSJC-Member-NEGATIVE.png
  public/img/Open-recognition-aliance.png
  public/img/UXAntwerp_logo.png
  public/img/artevelde-hogeschool.svg
  public/img/bruxelles-emploi.svg
  public/img/datacamp.svg
  public/img/digital-belgium.svg
  public/img/duo_logo.png
  public/img/microsoft.svg
  public/img/open-knowledge.svg
  public/img/print-simple.svg
Labels: css, html

#44 fixing the logo of HYF on Navbar
  index.html
Labels: bug, html

#45 Fixing the bug of 'Left & right arrows' on 'success stories section'-
  index.html
  public/css/style.css
Labels: bug, css, html
